.about__text{
font-weight: 600;
font-size: 11px;
line-height: 1.36;
text-transform: uppercase;

color: #303030; 
}
.about__title{
font-size: 28px;
line-height: 1.18;
letter-spacing: 0.05em;

color: #303030;
}
.about__description{
font-size: 16px;
line-height: 1.62;
letter-spacing: 0.02em;

color: #555555;
}
.about__specification{
font-size: 14px;
line-height: 1.86;
letter-spacing: 0.02em;

color: #555555;
}
@media screen and (max-width:480px){
.about__list{
    display: none;
}
}