.barbers__pretitle{
font-weight: 600;
font-size: 11px;
line-height: 1.36;
text-transform: uppercase;

color: #303030;
}
.barbers__title{
font-size: 42px;
line-height: 1.17;
letter-spacing: 0.05em;

color: #303030;
}


