.benefits__pretitle{
font-size: 11px;
line-height: 1.36;
text-transform: uppercase;

color: #303030;
}
.benefits__title{
font-size: 42px;
line-height: 1.17;
letter-spacing: 0.05em;

color: #303030;
}
.benefits__after-title{
font-size: 18px;
line-height: 1.67;
letter-spacing: 0.02em;

color: #555555;
}
.benefits__text{
font-size: 11px;
line-height: 1.36;
text-align: center;

color: #303030;
}
span{
font-weight: 700;
font-size: 42px;
line-height: 1.36;
text-align: center;
letter-spacing: 0.05em;

color: #303030;
}
