
.contacts{
   background-color:  rgb(113, 98, 98);
}
.contacts__title{
font-size: 42px;
line-height: 1.17;
text-align: center;
letter-spacing: 0.05em;

color: #FFFFFF;
}
.contacts__link{
font-style: normal;
font-size: 18px;
line-height: 1.67;
letter-spacing: 0.02em;

color: #9DA4BD;  
}
.contacts__suptitle{
font-size: 11px;
line-height: 1.36;
text-transform: uppercase;

color: #FFFFFF;
}
.contacts__schedule{
font-size: 18px;
line-height: 1.67;
letter-spacing: 0.02em;

color: #9DA4BD;
}

