
.gallery__pretitle{
font-weight: 600;
font-size: 11px;
line-height: 1.36;
text-transform: uppercase;

color: #303030;
}
.form__titleform__title{
font-size: 42px;
line-height: 1.17;
text-align: center;
letter-spacing: 0.05em;

color: #FFFFFF;
}
